name: Build & Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build AAB
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # Decode your Key
      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks

      - name: Get Dependencies
        run: flutter pub get

      # CHANGE 1: Build App Bundle instead of APK
      - name: Build App Bundle
        env:
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          ALIAS_PASSWORD: ${{ secrets.ALIAS_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        run: flutter build appbundle --release

      # CHANGE 2: Upload the .aab file
      - name: Upload Release Bundle
        uses: actions/upload-artifact@v4
        with:
          name: castlehd-bundle
          path: build/app/outputs/bundle/release/app-release.aab
